<font class='guest_room_title'><%= raw h post.title %></font> 
<font class='guest_room_time'>[<%= raw generate_time(post.created_at) %>]</font><br/>
<p class='guest_room_body'>
<%= raw h(post.body).split("\n").join("<br/>") %></p>
<%= raw render :partial => 'comment', :collection => post.comments %>
<hr size='0' />
