<%= stylesheet_link_tag 'booking' %>

<h2 class='booking_title'>Organization</h2>

<h4 class='booking_chapter_header'>Trip Procedure. </h4>

When we organize a stay, we guarantee that the fish is in the chosen river. We shall use
 all possible means to allow the good progress of fishing. We have no obligation to 
guarantee a result, which depends on luck or  fishing  skill.

<h4 class='booking_chapter_header'>Prices.</h4>

The price of   fishing packages covers the services stated below unless there is a 
mention to the contrary:
<ul>
<li>Package with the accompaniment of a local guide and all the ground transfers.</li>
<li>Accommodation (full-board in   fishing areas).</li>
<li>Set-up fees and administrative formalities.</li>
</ul>
<p class='booking_main_text'>
The price lists in the general documentation are given as a rough guide and 
can be modified according to the variations of exchange rates. However, prices 
cannot be raised less than one month before the departure for the already booked 
customers. The price does not include, unless there is a mention to the contrary 
or included in a global package:
</p>
<ul>
<li>International flights and domestic flights.</li>
<li>The services previous check-in at the airport (luggage in advance, etc.)</li>
<li>Insurance, drinks, tips and personal expenses.</li>
<li>Everything that is not explicitly indicated in the paragraph " our prices include ".</li>
</ul>
<h4 class='booking_chapter_header'>Deposit and payment of the balance.</h4>
<p class='booking_main_text'>
A deposit of 30 % of the price of the stay is to be paid at the time of booking.
The nature of the conferred rights varies according to the nature of the trip; 
certain trips must have a minimum number of participants. All precisions are given
 in the specific conditions of every program, at the time of registration. The departure
 confirmation in conveyed at the latest, 7 days before the date of departure.
</p>
<br/>
<p class='booking_main_text'>
The payment of the balance must be made, at the latest 1 month before departure. 
If it is not done the customer is considered as having cancelled his journey and 
can get no refund. For trips booked less than thirty days before the departure, 
we demand full payment of the package. 
</p>
<h4 class='booking_chapter_header'>Modification of the package before the departure and during the stay.</h4>
<p class='booking_main_text'>
A successful  fishing trip depends on the total acceptance of the 
proposed formulae. Any change of dates (the departure or return) duration of 
stay and means of transport may be refused. The possible departure or return 
delays at times of busy seasonal traffics, or possibly caused returns, in period 
of big traffic, can entail no refund, notably because of the change in duration 
of the initially planned program. The travel agency is responsible for the 
journey, without being however considered responsible for coincidences, force 
majeure or because of third parties. Nevertheless, the agency will try hard to 
look for the appropriate solutions to surmount any difficulties in order to 
satisfy its customers. 
</p>
<h4 class='booking_chapter_header'>Cancellation Expenses.</h4>
<p class='booking_main_text'>
Cancellation emanating from the customer entails the payment of costs which vary, 
depending on the nature of the stay and the date for which it is planned:
<ul>
<li>Over 60 days before the departure: costs vary depending on the date at which it intervains.</li>
<li>Between 60 and 30 days: 50 % of the amount of the journey.</li>
<li>Between 29 and 15 days: 75 % of the amount of the journey.</li>
<li>Less than 15 days : 100 % of the amount of the journey.</li>
</ul>
</p>
<h4 class='booking_chapter_header'>Failure to present oneself.</h4>

The travel agency cannot be considered as responsible for:
<ul>
<li>Failure to check-in  at the departure airport of the travel package, caused by a 
delay of any means of transport, even if this delay results from force majeure, a 
coincidence, or an incident caused by a third party. Failure of presentation at 
places and times mentioned.</li>
<li>Non presentation of ID documents of current validity: the total price of the 
journey will not be refunded. </li>
</ul>
<h4 class='booking_chapter_header'>Cancellation or modification of dates and <br/>
                                    destinations of the trip due to  the Agency.</h4>

<p class='booking_main_text'>
The customer cannot claim compensation if the cancellation or the modification 
is due to force majeure or safety reasons concerning the traveler. 
</p>
<h4 class='booking_chapter_header'>Formalities.</h4>
<p class='booking_main_text'>
Customers procures   their visas by their own means. If the documents are sent too
 late, and results in delaying the date of departure, WE declines its responsibility 
and reserves the right to charge expenses engaged for the trip if it is not possible to 
postpone the journey. Documents necessary for the journey (voucher, invitation) 
are sent to the customer only after payment <font class='booking_red_text'>of the totality of the journey</font>. In case of 
late payment, there is no guarantee as to the reception of documents by the 
customer for the delays. 
</p>
<h4 class='booking_chapter_header'>Insurance.</h4>
<p class='booking_main_text'>
All insurance (assistance, repatriation, luggage and\or cancellation and civil 
 liability) are in addition to cost of the programs.  
</p>
   