<%= stylesheet_link_tag 'maps' %>

<div align='center'>
    <hr size='0' width='640' />
 <% @map_categories.each do |mc| %>
    <b><%= link_to mc.title, :controller => 'maps', :action => mc.tag %></b><br />
    <% @maps = mc.maps.all(:conditions => { :visible => true }) %>
    <% @maps.each do |m| %>
      <div class='map'>
        <%= image_tag( m.tag, :width => 700 ) %><br />
      </div>
    <% end %>
    <hr size='0' width='640' />
 <% end %>
</div>