body { background-color: #000000; }

table.main { 
    background-color: #ffffff; 
    color:#000000;
    text-align:justify;
    cellspacing:0;
}

tr.main_menu {
    font-family:arial;
    text-align:center;
    font-size:11pt;
    color:white;
    background-color:black;
}

td.main_menu_button_mouse_out {
    background-color:#151515;    
}
td.main_menu_button_mouse_over {
    background-color:#000000;
}

div.drop_down_menu{
    position:absolute;
    display:none;
    text-align:left;
    background-color:black;
}

td.left_menu {
    background-color:#ffffff;
}

td.event_list {
    font-size:8pt;
    font-family:arial;
    text-align:left;
    font-weight:normal;
}

td.partner_link_list {
    font-size:10pt;
    font-family:arial;
    text-align:left;
    font-weight:normal;
}

table.left_menu {
    text-align:center;
    font-family:arial;
    font-size:10pt;
    font-weight:bold;
}


td.main_widget {
    text-align:justify;
    font-family:times;
    font-size:14pt;
}

p.page_title {
    text-align:center;
    font-weight:bold;
    font-size:15pt;
}

td.right_menu {
    background-color:#ffffff;
}


a { 
    color: #000000;
}
a:visited { 
    color: #000000;
}
a:hover {
    color:#555555;
}

a.main_menu { 
    color: #999999;
    font-size:13pt;
}
a.main_menu:visited { 
    color: #999999;
}
a.main_menu:hover { 
    color: #ffffff;
}

div.logo {
    position:absolute;
    margin-left:950px;
    top:15px;
}


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}



