td.fishing_program_title {
    text-align:center;
    font-size:13pt;
    font-weight:bold;
}

td.fishing_program_description {
    text-align:center;
    font-size:11pt;
}
h4.fishing_chapter_header {
    text-align:justify;
    text-indent:60px;
}
p.fishing_main_text {
    text-align:justify;
    text-indent:40px;
}

h2.fishing_tour_name {
    font-size:14pt;
    text-align:center;
    font-style:italic;
}

div.fishing_program_gallery {
    position:block;
}
