font.guest_room_title {
    font-size:11pt;
    font-weight:bold;
    font-family:Verdana;
}

font.guest_room_time {
    font-size:10pt;
}
p.guest_room_body {
    text-indent:40px;
    font-size:10pt;
    font-family:Arial;
}

div.comment {
    position:static;
    background-color:#eeeeee;
    border-style:solid;
    border-width:1px;
    margin:3px;
    margin-left:5px;
    margin-right:3px;
    padding:3px;
    padding-bottom:8px;
    
}
