<div class="left_menu_widget_element_title">
<%= link_to "NEWS", admin_events_path %>
</div>
 <table width='96%' border='0' align='center' cellpadding='0' cellspacing='0'>
 <% for event in @left_column_events %>
   <tr valign='top'>
     <td class='event_list'>
       <% t = event.created_at %>
       <%= t.day.to_s+"."+t.month.to_s+"."+t.year.to_s %>
       <%= image_tag('home/new.png') if Time.now - event.created_at < 1.month %><br/>
       <%= link_to event.title, admin_event_path(event) %>
       <hr/>
     </td>
   </tr>
 <% end %>
 </table>
