<div class="full_widget">
 <%= render :partial => 'layouts/admin/left_menu' %>
 <div class="main_body_widget">
  <div class="main_body_widget_element">
   <%= yield %>
  </div>
 </div>
 <%= render :partial => 'layouts/admin/right_menu' %>
</div>
