<% if gallery_drop_down_menu.id != gallery_drop_down_menu.parent_group_id %>
    <li><%= link_to gallery_drop_down_menu.title, gallery_drop_down_menu, :class => 'main_menu' %></li>
<% end %>
<% gallery_drop_down_menu.subgroups.each do |group| %>
    <% if group.visible %>
        <ul style='margin-left:-15px;'><%= render :partial=>'layouts/gallery_drop_down_menu', :object => group %></ul>
    <% end %>
<% end %>
