<%= stylesheet_link_tag 'team' %>

<p class='page_title'>Chavanga team</p>
<% team_size = 3 %>
<table width='96%' align='center'>
<tr>
    <% for i in 1..team_size %>
    <td>
        <%= image_tag 'team/t'+i.to_s+'.jpg', :width => 180 %>
    </td>
    <% end %>
</tr>
<tr>
    <td class='team_photo_title'>
        <b>Vasyl</b><br/>
        chief<br/>
        fishing guide
    </td>
    <td class='team_photo_title'>
        <b>Basyl</b><br/>
        coordinator<br/>
        fishing guide
    </td>
    <td class='team_photo_title'>
        <b>Jeorge</b><br/>
        fishing guide
    </td>
</tr>
</table>
<table width='96%' align='center'><tr><td>
<p class='team_main_text'>
In many ways to catch large and strong fish is a limit of our dreams. But mostly all of us live far from places with excellent fishing. 
And after all it would be really desirable to see places about which we heard so much. 
Unfortunately, the is not enough information or the information doesn’t meet your criteria. 
For simple fisherman who wants just to enjoy his desirable fishing is becoming almost impossible. 
Usual fishing trips which were real about ten years ago, now are impossible to recognise, cause last years the rivers changed, 
lost the most part of the fish, and the information became very commercial. 
</p>
<p class='team_main_text'>
The exact information about real position on the rivers can be received from fishermens. 
We carry out all work and we solve all the problems, as well as that it is necessary. 
It gives the chance to be prepared for desirable fishing which you might have even once a life or at least once a year. 
We gather enough of fishing experience to make your fishing trip the best you ever had. 
Everything looks so – all the necessary information can be found here, and all practical part will be made there - in the north. 
It is made very flexible for you, because you can chose suitable time, cost and the best fishing variant you want. 
For those who already went and fished there, it would be interesting to compare impressions. 
Hardly anybody from us can say that he has understood everything in salmon fishing. 
And the reasons of new aspects of fishing salmon, we come back all the time from year to year.
</p>
</td></tr></table>