<%= stylesheet_link_tag 'home' %>

<p class='page_title'>Chavanga company</p>
<table align=center width=94%><tr><td>

<p align=center>
 <%= image_tag 'home/main.jpg', :width => 700 %>
</p>

<p class='home_main_text'>
There are a lot of salmon rivers, in Scandinavia, on Kola, in the east of<br/>
Russia and on Alaska. There are a lot of salmon rivers and all of them are <br/>
different. Few of them sink down in soul, on some of them we never come back.</p>

<p class='home_why_chavanga'>
    Why Chavanga river stays in your heart forever?
<p>

<p class='home_main_text'>
The territory is extremely various. It is wild coast of the White sea.<br/>
Nature is a mix of ’’Belomorska’’ tundra and taiga.</p.

<p class='home_main_text'>
The affinity of the sea fills the river with various fauna. Migrations<br/>
of salmon and sea trout occur in front of your eyes. House populations of trout<br/>
and grayling prosper and make our fishing rather interesting.</p>

<p class='home_main_text'>
The river is various, beginning from the sea, it is starts from lots of<br/>
rifts replacing each other, reaches and falls, a big amount of spawning areas<br/>
of salmon, trout rapids and grayling streams.</p>

<p class='home_main_text'>
All this accessible for fly fishing. 20 kilometers of the river from<br/>
the the mouth till the top falls are convenient for fishing without assistance, <br/>
motor boats and helicopters.</p>

<p class='home_main_text'>
Disconnection from an external world has kept riches of the river. <br/>
There are no asphalt roads and cars, there are no turns and importunate <br/>
neighbours. It is even possible to stay alone with the river.</p>

<p>
The river Chavanga has got a unique chance for you to decide:
</p>

<p style='padding-left: 130px;'>
- What to catch <br/>
- Where to catch <br/>
- How to catch. 
<p>

<p style='padding-left: 30px;'>
Unless something else is necessary?
</p>

</td></tr></table>
<table align=center>
<tr>
<% (1..4).map do |program_index| %>
<td>
 <%= link_to (image_tag 'home/p'+program_index.to_s+'.jpg', :width => 150), FishingProgram.find(program_index) %>
</td>    
<% end %>
</tr>
</table>
<br/>
