<%= stylesheet_link_tag 'fishing' %>
<p class='page_title'>
South coast Kola Peninsula fishing
</p>
<table width='96%' align='center'><tr><td>
<p class='fishing_main_text'>
Last 25 years we regularly visit Kola Peninsula for salmon fishing. The purpose of such trips - to receive a maximum of impressions and to catch a good fish. Certainly, the great bulk goes here for a salmon though it is possible to catch a trout, grayling, at the worst, and a pike with a perch. There is not a big difference, how you want to fish: spinning or fly fishing. At a choice of tackles consider simply that the salmon strong fish and some safety factor will not prevent.  
</p>
<p class='fishing_main_text'>
Usually our routes pass on the rivers of southern coast of Kola Peninsula. All local rivers run into the White Sea. Along coast there passes rather a public road and it is possible to choose small rivers on customs. All fishing here is based on license. Any kind of fishing is a must have a license program.  
</p>
<p class='fishing_main_text'>
The local territory can be characterised as a taiga, but the sea coast and pre-mouth parts of the river are slightly different and look more as tundra. Some years ago Kolvitsa, Nizma, Umba and others, were considered as the quite good rivers. Now it is far away not the same rivers as before. It is because, first of all of fishermen pressure. Time has passed since it was possible to be alone on any small river or to be even the first fisherman on this river. Now on many rivers there are the stationary fishing bases providing some comfort, but they don’t provide what we really need: to stay face-to-face with our lovely river, to fish there just with your friends. We organising the tours which you really have to try in your life,tours to places where the nature is still untouched by the civilization. There is a possibility to stop in nearby village house, having a bath there, a food stall and other simple fruits of a civilisation and amazing fishing around.  
</p> 
<p class='fishing_main_text'>
The season begins at the end of May and lasts till the end of September. It is difficult to name the best month for a trip. The season beginning is characterised by unstable weather, high water and expectation of a course of a salmon. By the end of June there is a massive income of fresh fish, but the mosquitoes are trying to interrupt you at this period of time. July is very good on trout and grayling, lots of salmon in the rivers, but happens its too warmly, and mosquitoes are active. The end of July - August bring stable enough weather and quite good fishing, but the amount of silver fish decreasing a little. In September its still remains European weather, also from the second half of September there is a new income of fresh salmon from the sea. But weather by the end of September can be unstable. Each of months has the advantages and lacks. Analysing all the season its difficult to say which part of the season is the best, all of them are amazing for fishing. All the season gives you the chance to try an untouched nature and catch the fish you were dreaming about. You have a chance to please your heart.
</p>
</td></tr></table>


<table align='center' border='0' cellpadding=0 cellspacing=0>
<% @fishing_programs.each do |fp| %>
<tr>
  <td align=center>
<table border='0' cellpadding=0 cellspacing=0><tr>
  <td class='fishing_program_title'> <%= link_to fp.title, fp %> </td>
 </tr><tr>
  <td class='fishing_program_description' valign='top'> <%= fp.description.split('\n').join('<br/>') %> </td>
 </tr></table>
  </td>

  <td>
    <table border=0 cellpadding=1 cellspacing=0>
    <tr>
    <% fp.FishingProgramImages.each do |fpi| %>
      <td>
        <%= image_tag 'fishing/'+fpi.tag, :width=>160 %>
      </td>
    <% end %>
    </tr>
    </table>
  </td>
</tr>
<% end %>
</table>
