<%= stylesheet_link_tag 'fishing' %>
TO TRANSLATE
<p class='page_title'>
Рыбалка на реках Юга Кольского Полуострова.
</p>
<table width='96%' align='center'><tr><td>
<p class='fishing_main_text'>
Последние 25 лет мы регулярно ездим на Кольский полуостров ловить семгу. Цель таких поездок -  получить максимум впечатлений и половить хорошую рыбу. Конечно же, основная масса едет сюда именно за семгой, хотя можно ловить форель, хариуса, на худой конец, и щуку с окунем. Нет большой разницы, чем вы ловите – спиннингом или нахлыстом. При выборе снастей учтите просто, что семга сильная  рыба  и некоторый запас прочности не помешает.
</p>
<p class='fishing_main_text'>
Обычно наши маршруты проходят по рекам  южного побережья Кольского полуострова. Все здешние   реки впадают в Белое Море. Вдоль побережья проходит  относительно  проезжая дорога и можно выбирать речку по нраву.  Вся ловля здесь лицензирована и находиться со снастями у воды можно лишь, имея лицензию.
</p>
<p class='fishing_main_text'>
Местная территория может быть охарактеризована  как тайга, но морское побережье, приустьевые участки рек  выдуты ветром в подобие тундры. Несколько лет назад неплохими реками считались Колвица, Низьма, Умба. Сейчас приходится забираться все дальше. Это связано, прежде всего, с рыболовным прессингом. Прошли времена, когда можно было на любой речке быть первым. На многих реках теперь стоят стационарные рыболовные базы, обеспечивающие некоторый комфорт, но лишающие человека возможности побыть  на реке одному или ловить рыбу лишь в своей тесной компании. Поэтому, мы практикуем более «интимные» поездки   в места, куда не добираются массы «организованных» туристов. В местных деревнях тоже есть возможность остановиться у реки и ловить рыбу, имея под боком баню, продовольственный ларек и другие нехитрые плоды цивилизации. 
</p>
<p class='fishing_main_text'>
Начинается сезон с конца мая и длится до конца сентября. Трудно назвать лучший месяц для поездки. Начало сезона характеризуется неустойчивой погодой, высокой водой и ожиданием хода семги. К концу июня рыбы становится много, но вылетают комары и затем, мошка. Июль хорош по форели и хариусу, в реках много зашедшей семги, но бывает слишком тепло, и активны комары. Конец июля - август приносят достаточно стабильную погоду и неплохую рыбную ловлю, но серебряной свежей семги уже меньше.  В сентябре сохраняется еще «европейская» погода и можно со второй его половины ожидать осеннего хода семги из моря. Но погода к концу сентября может быть неустойчивой. Каждый из месяцев имеет свои преимущества и недостатки. Если оценивать ситуацию в целом, то не имеет значения, когда ловить. Если цель – поймать семгу и поймать не 5-6 штук, а половить от души, то стабильно хорошо можно ловить весь сезон.
</p>
</td></tr></table>


<table align='center' border='0'>
<tr>
    <% @fishing_programs.each do |fp| %>
        <td class='fishing_program_title'>
            <%= fp.title %>
        </td>
    <% end %>
</tr>
<tr>
    <% @fishing_programs.each do |fp| %>
        <td class='fishing_program_description' valign='top'>
            <%= fp.description.split('\n').join('<br/>') %>
        </td>
    <% end %>
</tr>
<tr>
    <% @fishing_programs.each do |fp| %>
        <td>
            <table width=100%>
                <% fp.FishingProgramImages.each do |fpi| %>
                <tr><td>
                    <%= image_tag 'fishing/'+fpi.tag, :width=>160 %>
                </td></tr>
                <% end %>
                </table>
        </td>
    <% end %>
</tr>
</table>
