<p>
  <b>Title:</b>
  <%=h @image_gallery_group.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @image_gallery_group.description %>
</p>

<p>
  <b>Parent group:</b>
  <%=h @image_gallery_group.parent_group.title %>
</p>
