<%= stylesheet_link_tag 'team' %>

<p class='page_title'>Team</p>
<% team_size = 4 %>
<table width='96%' align='center'>
<tr>
    <% for i in 1..team_size %>
    <td>
        <%= image_tag 'team/t'+i.to_s+'.jpg', :width => 180 %>
    </td>
    <% end %>
</tr>
<tr>
    <td class='team_photo_title'>
        <b>Vasyl</b><br/>
        chief<br/>
        fishing guide
    </td>
    <td class='team_photo_title'>
        <b>Basyl</b><br/>
        coordinator<br/>
        fishing guide
    </td>
    <td class='team_photo_title'>
        <b>Jeorge</b><br/>
        fishing guide
    </td>
    <td class='team_photo_title'>
        <b>Pavel</b><br/>
        local director
    </td>
</tr>
</table>
TO TRANSLATE
<table width='96%' align='center'><tr><td>
<p class='team_main_text'>
Для многих возможность ловить крупную и сильную рыбу является пределом мечтаний. Но все мы живем далеко  от мест с хорошей  рыбалкой. А ведь хочется повидать места, о которых столько слышали.
</p>
<p class='team_main_text'>
К сожалению, информации или мало или масса недостоверной. Постороннему человеку практически невозможно разобраться во всех   хитросплетениях.    Простейший вариант в виде самостоятельной поездки, еще реальный   лет десять назад, в настоящее время нельзя признать  удовлетворительным. Это связано с тем, что многие популярные в прошлом реки практически лишились своей рыбы. К тому же появление организованного туризма превратили когда-то нетронутые, дикие и поэтому интересные места и реки в настоящие базары и мусорные свалки. Здесь торгуют и продают все- транспорт, жилье, места ловли, саму рыбу. Невозможно купить лишь самое дорогое- уединение и возможность спокойно половить рыбу, не толкаясь локтями. Реальная информация       стала коммерческим и подцензурным товаром. Все посещаемые сайты заинтересованы в подаче  своей точки зрения. Деньги зарабатывают на всем, что связано с подобными поездками. На информации, на снастях, на критике конкурентов, на ангажировании местных властей и так далее.
</p>
<p class='team_main_text'>
Точную  информацию можно получить   от   рыболовов. Это дает     возможность правильно упаковаться  к ловле, к которой  готовишься если не раз в  жизни, то уж всего раз в году. Мы сами должны решать, как и что нужно сделать. Благо, что начинаем не на голом месте. Накоплен уже достаточный опыт подобных экспедиций. Главное - облегчить всем нам дорогу на северные реки. Практически это будет выглядеть так -   нужную информацию можно получить   здесь, а там, на Севере будет сделана вся практическая часть. При этом можно будет заранее выбрать подходящий по времени, стоимости и сложности вариант, то есть решить те проблемы, которые обычно и не дают нам возможности осуществить свою мечту.
</p>
<p class='team_main_text'>
Мы не  сотрудничаем с местными туристическими фирмами,  потому, что дорого и потому, что они, как ни странно, они не располагают достоверной информацией о   ситуации на реках.   Всю работу мы выполняем сами. 
</p>
<p class='team_main_text'>
Для тех, кто уже ездил и ловил там, было бы интересно   сравнить   впечатления. Вряд ли кто из нас    может сказать, что понял все  в   ловле лосося. А во многом  именно нераскрытые нюансы ловли заставляют из года в год заранее паковать рюкзак.
</p>
</td></tr></table>