<p class='page_title'>Press</p>
<table align=center border='0'><tr><td align=center>
<%= link_to(
        image_tag("press/Partir Pecher/name 1.jpg"),
        :controller => :press,
        :action => :partir_pecher ) %></td><td align=center>
<%= link_to(
        image_tag("press/Peshe Muoche/name 2.jpg"),
        :controller => :press,
        :action => :peshe_mouche) %></td></tr></table>


