<font class='guest_room_title'><%=h post.title %></font> 
<font class='guest_room_time'> [<%= generate_time(post.created_at) %>]</font><br/>
<p class='guest_room_body'><%= h(post.body).split("\n").join("<br/>") %></p>
<%= link_to "Delete Post", admin_guest_room_path( post.id ), :confirm => 'Are you sure?', :method => :delete %>
<hr size='0' />