<div class="left_menu_widget_element_title">
ADDITIONAL LINKS
</div>
<table width='100%' border=0>
<% for pl in @left_column_additional_links %>
   <tr valign='top' align='center'>
     <td>
        <%= link_to( pl.title, pl.tag ) %>
     </td>
   </tr>
<% end %>
</table>
