<div class="banners">
<marquee>
    | &ensp
    <% @all_banners.each do |banner| %>
        <%= show_banner( banner ) %> &ensp&ensp | &ensp&ensp 
    <% end %> &ensp&ensp&ensp&ensp&ensp&ensp&ensp&ensp&ensp 
</marquee>
</div>
