<div class="left_menu_widget_element_title">
BLOGS
</div>
<table width='100%' border=0>
   <tr valign='top' align='center'>
     <td class='partner_link_list'>
       <div align=center>
          <%= link_to( image_tag( "left_menu/blog_chavanga_logo.gif", :border => 0, :width => 130, :alt => "Chavanga Blog" ), "http://blog.chavanga.com" ) %>
        </div>
     </td>
   </tr>
   <tr valign='top' align='center'>
     <td class='partner_link_list'>
       <div align=center>
          <%= link_to( image_tag( "left_menu/blog_ru_chavanga.png", :border => 0, :width => 130, :alt => "Russian Chavanga Blog" ), "http://blog-ru.chavanga.com" ) %>
        </div>
     </td>
   </tr>
</table>