<div class="full_widget">
 <%= render :partial => 'layouts/left_menu' %>
 <div class="main_body_widget">
  <div class="main_body_widget_element">
   <%= yield %>
  </div>
 </div>
 <%= render( :partial => 'layouts/right_menu' ) %>
</div>
