<td width='155' class='left_menu'>
  <table width='100%' border='0' class='left_menu' cellspacing='0' cellpadding='0'>
  <tr valign=top>
    <td>
        <p>MAPS</p>
        <%= link_to (
                image_tag(
                    'map/name map.jpg', :height => 150, :width => 150, :alt => 'Chavanga map example'), 
                    :controller => :image_gallery_groups, 
                    :action => :show,
                    :id => 44) %>
    </td>
  </tr>
  <tr valign=top>
    <td>
        <%= render :partial => 'layouts/event_list' %>
    </td>
  </tr>
  <tr>
    <td>
        <%= render :partial => 'layouts/partner_link_list' %>
    </td>
  </tr>
  <tr>
    <td>
        <div align="center">
        <script src="http://www.weatherforecastmap.com/weather100.php?zona=russia_murmansk"></script>
        <a title="Forecast for Murmansk" href="http://www.weatherforecastmap.com/russia/murmansk" >Forecast for Murmansk</a></div>
    </td>
  </tr>
  </table>
</td> 
