<table width='100%' border='0' class='left_menu' cellspacing='0' cellpadding='0'>
<tr valign=top>
    <td>
        <%= render :partial => 'layouts/event_list' %>
    </td>
</tr>
<tr>
    <td>
        Map<br/>
        <%= @map.div(:width => 150, :height => 150) %>
        <hr size=1 />
    </td>
</tr>
<tr>
    <td>
        <%= render :partial => 'layouts/partner_link_list' %>
    </td>
</tr>
</table>
