<div id='chavanga_logo' class='logo'>
    <%= link_to image_tag('logo/logo.gif', :width=>"140"), '/admin' %><br/><br/>
</div>
<div id='under_construction' style="left:5px; top:-250px; position:absolute;">
    <%= image_tag('logo/under_construction.jpg', :width=>"240") %>
</div>
