<td valign='top' height='390'>
<div id='chavanga_logo' class='logo'>
    <%= image_tag 'logo/logo.gif' %>
</div>
<div id='on_construction' style='position:absolute;margin-left:15px;top:10px;'>
    <%= image_tag 'logo/on_construction.gif' %>
</div>
  <%= link_to image_tag("logo/1A-1.jpg", :width => "100%", :height => "100%", :name=> 'logo_image', :alt => 'Home page', :border => '0'), 
            :controller => :home, :action=> :index %>
</td>
