<table name='main_menu' width=100% height='100%' border='1'>
<tr valign='top' align='left'>
  <td width='14%'>
    a
  </td>
  <td width='14%'>
    b
  </td>
  <td width='14%'>
    c
  </td>
  <td width='14%'>
    d
  </td>
  <td width='14%'>
    e
  </td>
  <td width='14%'>
    f
  </td>
  <td width='14%'>
    g
  </td>
</tr>
</table>
