<div class="right_menu_widget" id="right_menu_div">
 <div class="right_menu_widget_element">
  <div class="right_menu_widget_element_title">
    <%= link_to "FLIES", @flies_all %><br/>
  </div>
    <% @selected_ids.each do |k,i| %>
       <div style="margin:2px">
    	<%= link_to(image_tag(i.photo.url(:small), :width=>'145', :height => 125), i.group) %><br/>
       </div>
    <% end %>
 </div>
 <div class="right_menu_widget_element">
  <div class="right_menu_widget_element_title">
    <%= link_to "THE BEST!", @the_best_image_gallery %>
  </div>
    <%= link_to id_tags("[436]", {:width => '145'} ,:small ) %>
 </div> 
</div>
