<td width='155' class='right_menu' align='center'>
    <table width='145' border='0' class='left_menu' cellspacing='0' cellpadding='0' align='left'>
    <tr valign=top>
        <td>
            <p>FLIES</p>
            <%= link_to image_tag('right_menu/flies/f1.jpg', :width=>'145'), @flies_1 %><br/>
            <%= link_to image_tag('right_menu/flies/f2.jpg', :width=>'145'), @flies_2 %><br/>
            <%= link_to image_tag('right_menu/flies/f3.jpg', :width=>'145'), @flies_3 %><hr size='1' />
            <p>THE BEST!</p>
            <%= link_to image_tag('right_menu/the best/best_main.jpg', :width=>'145'), @the_best_image_gallery %><br/><br/>
        </td>
    </tr>
    </table>
</td>